
/* Animation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --secondary-color:#151226;
  --contrast-color:#BF307F;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}
.profile{
  display: flex;
  height: 75vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand 1s ease forwards;
  position: relative;
  font-family:Georgia, 'Times New Roman', Times, serif;
  transition: all .8s ease;

}
.profile_content{
  width: 50%;
}
.profile_content_inner{
  width: 80%;
  margin-left: 80px;
  padding-top: 450px;
}
.profile_outer_Img{
  margin: 50px;
  width: 50%;
  overflow: hidden;
}
.profile_Img{
  width: 50%;
  animation: slideIn 1.5s ease-in-out forwards;
}
.par{
  height: auto;
  overflow: hidden;
}
p{
  line-height: 100%;
  transform: translateY(400px);
  animation: slideUp .8s ease-in-out forwards .8s;
}
.btns{
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}
.btns_more{
  background: transparent;
  border: 2px solid var(--contrast-color);
  border-radius: 20px;
  padding: 1px 12px;
  color: #353404;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out forwards 1s;

}
.titles{
  overflow: hidden;
  height: auto;
}
h1{
  font-size: 35px;
  color: var(--contrast-color);
  margin-bottom: 20px;
  transform: translateY(100px);
  animation: slideUp .8s ease forwards .5s;
}
@keyframes slideIn {
  0%{
    transform: translateX(500px) scale(.2);
  }
  100%{
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideUp {
  0%{
    transform: translateY(300px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes expand {
  0%{
    transform: translateX(1400px);
  }  
  100%{
    transform: translateX(0px);
  }
}
/* Animation End */

/* Loading Spinner start */

.spinner{
  width: 10em;
  height: 10em;
  border-top: 1em solid #1AFF00;
  border-right: 1em solid transparent;
  border-radius: 50%;
  margin: auto;
  animation: spinner 5s linear infinite;
}
.circle{
  width: 1em;
  height: 1em;
  background-color: #1aff00;
  border-radius: 50%;
  margin-left: 8em;
  margin-top: 0.8em;
}

@keyframes spinner {
  100% {transform: rotate(360deg);}   
}
/* Loading Spinner end */

/* Text Animation Start */
svg{
  display: absolute;
  width: 100%;
  height: 30%;
  font-family:'Times New Roman', Times, serif;
  
}
svg text{
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 1000;
  animation: stroke 5s infinite alternate;
}
@keyframes stroke {
  0%{
      fill: rgba(10, 194, 172, 0);
      stroke: rgb(0, 0, 0);
      stroke-width: 2;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
  }
  70%{
      fill: rgba(10, 194, 172, 0);
      stroke: rgb(0, 0, 0);
  }
  80%{
      fill: rgba(10, 194, 172, 0);
      stroke: rgb(247, 5, 187);
      stroke-width: 3;
  }
  100%{
      fill: rgba(10, 194, 172, 0);
      stroke: rgb(247, 5, 187);
      stroke-width: 0;
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
  }
}

/* Text Animation end */

/* water_wave Animation */
  @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
.water_wave{
 position: relative;
 align-items: center;
 justify-content: center;


}
.water_wave h2{
  color: #fff;
  font-size: 5em;
  position: absolute;
  transform: translate(-50%,-50%);
}
.water_wave h2:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
.water_wave h2:nth-child(2){
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
  0%,
  100%{
    clip-path: polygon(0% 45%, 16% 44%,33% 50%,54% 60%,70% 61%, 84% 59%,100% 52%, 100% 100%,0% 100%);
  }
  50%{
    clip-path: polygon(0% 60%, 15% 65%,34% 66%,51% 62%,67% 50%, 84% 45%,100% 46%, 100% 100%,0% 100%);
  }
}

/* water_wave animation end */

body{
    overflow-x: hidden;
    
}

.myhead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: -100px;
}
.myhead a{
    font-style: italic;
    font-size:xx-small;

}
#project{
    background-image: url('portimage/proj2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: brown;
}

#acadamic{
    background-image: url('portimage/shelf4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

#project a{
    padding-top: 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}
#project a:hover{
    text-decoration: underline;
    color: brown;
}
#more{
    background-image: url('portimage/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.phone a{
    text-decoration: none;
    color: #f2f2f2;
}
.phone a:hover{
  text-decoration: underline;
  color: rgb(18, 30, 50);
}
#p_info{
    /* background-image: url('portimage/city.jpg'); */
    background-color: #72516f;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#skill{
    /* background-image: url('portimage/lap3.jpg'); */
    
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(251, 247, 250);
    
}

.skills-content {
    margin-top: 30px;
  }
  
.skills-content .progress {
    height: 80px;
    display: block;
    background: none;
    border-radius: 0;
  }
  
.skills-content .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #0e0d0d;
  }
  
.skills-content .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
.skills-content .progress-bar-wrap {
    background: #e6e8eb;
    height: 20px;
  }
  
  .skills-content .progress-bar-htm {
    width: 95%;
    height: 20px;
    transition: 0.9s;
    background-color: #ffb727;
  }
  .skills-content .progress-bar-cs {
    width: 90%;
    height: 20px;
    transition: 0.9s;
    background-color: #ffb727;
  }
  .skills-content .progress-bar-jsc {
    width: 75%;
    height: 20px;
    transition: 0.9s;
    background-color: #ffb727;
  }
  .skills-content .progress-bar-btt {
    width: 80%;
    height: 20px;
    transition: 0.9s;
    background-color: #ffb727;
  }
  .skills-content .progress-bar-ard {
    width: 95%;
    height: 20px;
    transition: 0.9s;
    background-color: #ffb727;
  }
  .skills-content .progress-bar-bcs {
    width: 100%;
    height: 20px;
    transition: 0.9s;
    background-color: #ffb727;
  }
 #skill h5{
    color: black;
    font-weight:bold;
  }
  
#language{

    background-image: url('portimage/shelf6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#university{
    background-color: silver;
}


.copyright {
    color: white;
    align-items: center;
    justify-content: center;
  }
  .pro p{
    font-size: 12px;
    color: green;
  }